<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.gz3create.module_ad">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6377156563409469~1047392204" />
    </application>

</manifest>